.page.theme_light {
  --background-color: #fff1f7;
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --secondary-text-color: #353430;
  --title-text-color: #ffc2e6;
  --button-color: #353430;
  --button-outline-color: rgb(50 49 45 / 0.4);
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__decoration-lightbulb {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --background-color: #fff1f7;
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --secondary-text-color: #353430;
    --title-text-color: #ffc2e6;
    --button-color: #353430;
    --button-outline-color: rgb(50 49 45 / 0.4);
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__decoration-lightbulb {
    display: none;
  }
}
